@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400..900&display=swap');


/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}


html { height: 100%;}
body { height: 100%; background:radial-gradient(#F5A9E1, #0000FF);}
div { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size:
150px; font-family: worksans; font-weight: bold; color: #fff; letter-spacing: -5px;
text-transform: uppercase; line-height: 100%}
div:before { content: attr(data-text); position: absolute; bottom:65px; transform: rotateX(180deg);
transform-origin: bottom; 
background: linear-gradient(to top,
 rgba(255,255,255,0), 
 rgba(255,255,255,0), 30px, 
 #fff 30px, 
 rgba(255,255,255,0)); -webkit-background-clip:text; color:transparent;}