
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400..900&display=swap');


/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

body{
  margin: 0:
  padding: 0;
  font-family: 'Work Sans', Sans;
  background-color: #000;
}

.container {
  /*border: 1px solid #fff;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 8em;
  width: 100vw;
  text-align: center;
}
h1 span {
  margin: 0;
  padding: 0;
  animation: ani  4.4s linear infinite;
}

h1 span:nth-child(1) {animation-delay: 0.4s;}
h1 span:nth-child(2) {animation-delay: 0.8s;}
h1 span:nth-child(3) {animation-delay: 1.2s;}
h1 span:nth-child(4) {animation-delay: 1.6s;}
h1 span:nth-child(5) {animation-delay: 2.0s;}
h1 span:nth-child(6) {animation-delay: 2.4s;}
h1 span:nth-child(7) {animation-delay: 2.8s;}
h1 span:nth-child(8) {animation-delay: 3.2s;}
h1 span:nth-child(9) {animation-delay: 3.6s;}
h1 span:nth-child(10) {animation-delay: 4.0s;}
h1 span:nth-child(11) {animation-delay: 4.4s;}


@keyframes ani {
  0%, 100% {
    color: #fff;
    -webkit-filter-blur(2px);
    -ms-filter blur(2px);
    text-shadow: 0 0 20px #f1c40f,
                 0 0 40px #f1c40f,
                 0 0 60px #f1c40f,
                 0 0 80px #f1c40f,
                 0 0 100px #f1c40f,
                 0 0 120px #f1c40f
  }
  5%, 95% {
    color: #222;
    -webkit-filter-blur(2px);
    -ms-filter-blur(2px);
    text-shadow: none;
  }
}