html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}




html {
  font-size: 1rem;
  font-family: 'work sans', serif;
  background-color:#fffcdc
}

body {
  padding:5rem 0;
  color:#333F48;
}

a {
  text-decoration: none;
  color: #ae7f3d;
}

a:hover {
  text-decoration: underline;
  color: #ae7f3d;
}

main {
  display:grid;
  grid-template-columns: 2fr 1fr ;
  grid-auto-rows:min-content;
  grid-gap:2rem;
  width: 40vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 2;
}

.statement {
  grid-column:1 / 2;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;