html {
  color: #222;
  font-size: 1em;
  line-height: 1.2;
}




html {
  font-size: 1rem;
  font-family: 'work sans', serif;
  background-color:#fffcdc
}

body {
  padding:5rem 0;
  color:#333F48;
}

a {
  text-decoration: none;
  color: #ae7f3d;
}

a:hover {
  text-decoration: underline;
  color: #ae7f3d;
}

body {
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap:2rem;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'work Sans', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:1.5rem;
  font-weight:300;
}
h2 {
  font-size:1.5rem;
  font-weight:300;
}
